body {
    color: var(--font-color);
    background-color: var(--bg-color);
}

section>h2::before {
    content: "#";
    margin-right: 6px;
    color: #999;
    transition: 0.6s;
}

.box {
    display: block;
}

.box-half {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: space-between;
}

@media (min-width: 1400px) {
    .box-half {
        flex-direction: row;
    }
}

section .box h1 .heading__info,
section .box h2 .heading__info,
section .box h3 .heading__info,
section .box h4 .heading__info,
section .box h5 .heading__info,
section .box h6 .heading__info {
    transition: 0.6s;
}

section>h2:hover::before,
section .box h1:hover .heading__info,
section .box h2:hover .heading__info,
section .box h3:hover .heading__info,
section .box h4:hover .heading__info,
section .box h5:hover .heading__info,
section .box h6:hover .heading__info {
    color: rgb(71, 71, 71);
    transition: 0.4s;
}

.row {
    display: flex;
    gap: 80px;
}

span.typing {
    font-weight: 700;
    color: #006B38FF;
}

.first {
    padding: 300px 80px 100px 80px;
    position: relative;
}

.navbar {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    padding: 20px 0;
    transition: all 0.3s ease;
}

header.sticky {
    padding: 12px 0;
    background: #006B38FF;
}

header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navbar__title a {
    color: var(--font-color);
    font-size: 35px;
    font-weight: 600;
    transition: all 0.3s ease;
}

header .navbar__title a span {
    color: var(--theme-color);
    transition: all 0.3s ease;
}

header.sticky .navbar__title a span {
    color: var(--white);
    transition: all 0.3s ease;
}

header.sticky .navbar__title a {
    color: #060606;
    transition: all 0.3s ease;
}

header .navbar__menu li {
    list-style: none;
    display: inline-block;
}

header .navbar__menu li a {
    display: block;
    color: var(--font-color);
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

header .navbar__menu li a:hover {
    color: #006B38FF;
}

header.sticky .navbar__menu li a:hover {
    color: #060606;
}

.navbar__btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

p.section__info {
    margin-bottom: 1.5em;
}

span.heading__info {
    color: #999;
    margin-left: 0.5em;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    top: 100px;
    right: 80px;
}

.theme-switch-wrapper span {
    margin-left: 10px;
    font-size: 1rem;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked+.slider {
    background-color: var(--theme-color);
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.gallery__block img:first-child {
    object-position: right;
}
