body {
    color: #ffff;
    background-color: #060606;
}

span.typing {
    font-weight: 700;
    color: #006B38FF;
}

.first {
    padding: 300px 80px 100px 80px;
}

.navbar {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    padding: 20px 0;
    transition: all 0.3s ease;
}

header.sticky {
    padding: 12px 0;
    background: #006B38FF;
}

header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navbar__title a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    transition: all 0.3s ease;
}

header .navbar__title a span {
    color: #006B38FF;
    transition: all 0.3s ease;
}

header.sticky .navbar__title a span {
    color: #fff;
    transition: all 0.3s ease;
}

header.sticky .navbar__title a {
    color: #060606;
    transition: all 0.3s ease;
}

header .navbar__menu li {
    list-style: none;
    display: inline-block;
}

header .navbar__menu li a {
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

header .navbar__menu li a:hover {
    color: #006B38FF;
}

header.sticky .navbar__menu li a:hover {
    color: #060606;
}

.navbar__btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

p.section__info {
    margin-bottom: 1.5em;
}

span.heading__info {
    color: #999;
    margin-left: 0.5em;
}

.pre-wrapper {
    position: relative;
    background-color: #191919;
    padding-left: 30px;
    min-width: 30%;
    height: 100%;
}

.code-tag {
    color: #33ccff;
}

.code-class {
    color: rgb(235, 171, 53);
}

.code-text {
    color: rgb(204, 204, 204);
}

.code-punctuation {
    color: grey;
}

button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 2px;
    height: 36px;
    line-height: 34px;
    font-size: 14px;
    color: #ffffff;
    background-color: #006B38FF;
    transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
    padding: 0 18px;
    position: absolute;
    right: 0;
}

button:hover {
    color: #ffffff;
}

.line:after {
    content:"";
    position: absolute;
    z-index: 99;
    top: 0;
    bottom: 0;
    left: 20px;
    border-left: 2px solid #006B38FF;
    transform: translate(-50%);
    margin: 8px 0;
    border-radius: 20%;
}

.code-block {
    display: flex;
    gap: 30px;
    margin: 20px 0 40px 0;
}